
body
{
	background-color : #d9d9f
}

p
{
	font-family: time new roman;
	font-size: 14pt;
}

label
{
	font-size: 14pt;
	font-family: arial;
}

HR
{
	text-align: center;
	height: 1%;
	width: 100%;
	background-color: #808080;
	border-style: solid;
	border-color: #ababab;
}

input
{
	font-size : 12pt;
}

.content table
{
	text-align : center;
}

table.tab th
{
	border: 5px double grey;
	padding : 2px;
}

table.tab td
{
	border: 2px solid #aaa;
}

.nav table
{
	display : inline-block;
	text-align : center;
}

.content table select
{
	font-size : 12pt;
	margin-left : 110%;
}

.footer #menu-icones-sociaux li
{
	display : inline;
}

.footer #menu-icones-partenaires li
{
	display : inline;
}